<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1><center>HeartWatch: Unveiling Your Cardiovascular Destiny</center></h1>
        <form method="post">
            <label for="age">Age:</label>
            <input type="text" name="age" required>

            <label for="sex">Sex:</label>
            <select name="sex" required>
                <option value="0">Female</option>
                <option value="1">Male</option>
            </select>

            <label for="chest_pain_type">Chest Pain Type:</label>
            <select name="chest_pain_type" required>
                <option value="0">Typical Angina</option>
                <option value="1">Atypical Angina</option>
                <option value="2">Non-Anginal Pain</option>
                <option value="3">Asymptomatic</option>
            </select>

            <label for="resting_blood_pressure">Resting Blood Pressure (mm Hg):</label>
            <input type="text" name="resting_blood_pressure" required>

            <label for="cholestrol">Serum Cholesterol (mg/dl):</label>
            <input type="text" name="cholestrol" required>

            <label for="fasting_blood_sugar">Fasting Blood Sugar > 120 mg/dl:</label>
            <select name="fasting_blood_sugar" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>

            <label for="resting_electrocardiogram">Resting Electrocardiographic Results:</label>
            <select name="resting_electrocardiogram" required>
                <option value="0">Normal</option>
                <option value="1">ST-T Wave Abnormality</option>
                <option value="2">Left Ventricular Hypertrophy</option>
            </select>

            <label for="max_heart_rate_achieved">Maximum Heart Rate Achieved:</label>
            <input type="text" name="max_heart_rate_achieved" required>

            <label for="exercise_induced_angina">Exercise Induced Angina:</label>
            <select name="exercise_induced_angina" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>

            <label for="st_depression">Oldpeak:</label>
            <input type="text" name="st_depression" required>

            <label for="st_slope">Slope of the Peak Exercise ST Segment:</label>
            <select name="st_slope" required>
                <option value="0">Upsloping</option>
                <option value="1">Flat</option>
                <option value="2">Downsloping</option>
            </select>

            <label for="num_major_vessels">Number of Major Vessels Colored by Fluoroscopy:</label>
            <select name="num_major_vessels" required>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>

            <label for="thalassemia">Thalassemia:</label>
            <select name="thalassemia" required>
                <option value="0">Normal</option>
                <option value="1">Fixed Defect</option>
                <option value="2">Reversible Defect</option>
            </select>

            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>
